main{
    width:$content-width;
    margin:auto;
    margin-top:1em;
    height:80vh;
    border-radius:5px;
    overflow:hidden;
    .grid-container{
        width:100%;
        overflow:hidden;
        display:grid;
        grid-template-columns:2fr 1fr;
    .sub-grid{
        width:60%;
        display:grid;
        grid-template-columns:1fr 1fr;
        column-gap:1em;
        row-gap: 1em;
        justify-content:center;
        align-items:center;
        align-content:stretch;
        overflow:hidden;
        .blogpost{
            //$heightWidthRatio:calc(3.5/2.5);
            --card-width:15vw;
            width:var(--card-width);
            height:calc(3.5/2.5*var(--card-width));
            background:red;
            display:flex;
            justify-content:space-around;
            align-items:center;
            flex-direction:column;
            transition: transform 500ms ease-in-out;
            .image-container{
                width:50%;
                height:50%;
                display:block;
                box-shadow: -2px 12px 0px 23px white;
                img{
                    object-fit:cover;
                    max-width:100%;
                    object-position:center;
                }
                h2{
                    display:inline-block;
                    font-family: 'Anton', sans-serif;
                }
            }
            &:hover{
                transform:scale(1.1);
            }
        }
    }
}
}
