nav{
    width:45%;
    margin-left:auto;
    ul{
        display:flex;
        flex-direction:row;
        justify-content:space-around;
        list-style-type:none;
        justify-items:center;
        position:relative;
        top:50%;
        transform: translateY(-50%);
        li{
            display:inline-block;
            transform: scale(1);
            transition: all 0.15s ease-in-out;
            &:hover{
                transform: scale(1.1);
            }
            a{
                font-family:var(--font-family);
                font-weight:700;
                text-decoration:none;
                color: white;
                text-align:center;
                vertical-align:center;
                text-transform:uppercase;
                background:#63ad67;
                padding:0.5em 0.5em;
                border-radius:10px;
                &:hover{
                    box-shadow: 0px 0px 44px -5px rgba(255, 255, 255, 0.75);
                }
            }
        }
    }
}
@import '_SignInBox.scss'