main{
    width:var(--content-width);
    margin:auto;
    margin-top:1em;
    padding:1em 1em;
    border-radius:5px;
    overflow:hidden;
    box-shadow: 1px 11px 26px -8px rgba(0, 0, 0, 0.75);
    .grid-container{
        width:100%;
        overflow:hidden;
        display:grid;
        grid-template-columns:2fr 1fr;
    .sub-grid{
        width:100%;
        display:grid;
        grid-template-columns:repeat(3, 1fr);
        grid-template-rows:repeat(2, 1fr);
        column-gap:1em;
        row-gap: 1em;
        justify-content:center;
        align-items:center;
        align-content:stretch;
        overflow:hidden;
        .blogpost{
            --card-width:15vw;
            width:var(--card-width);
            height:calc(3.5/2.5*var(--card-width));
            background:#63AD67;
            display:flex;
            justify-content:space-around;
            align-items:center;
            flex-direction:column;
            transition: transform 250ms ease-in-out;
            .image-container{
                width:50%;
                height:50%;
                display:block;
                box-shadow: -2px 12px 0px 23px white;
                img{
                    object-fit:cover;
                    max-width:100%;
                    object-position:center;
                }
                h2{
                    display:inline-block;
                    font-family: 'Anton', sans-serif;
                }
                            }
            &:hover{
                transform:scale(1.01);
                opacity:.75;
                    }
            }
        }
    }
}
@import '_Aside.scss';
