@import '_reset.scss';
@import '_normalize.scss';
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

@mixin button-style{
    font-family:var(--font-family);
    font-weight:700;
    text-decoration:none;
    color: white;
    text-align:center;
    vertical-align:center;
    text-transform:uppercase;
    background:#63ad67;
    padding:0.5em 0.5em;
    border-radius:10px;
    border:none;
}


:root{
    --background-color:#D7F2BA;
    --inner-background:#9CC69B;//#BDE4A8;
    --font-color:#676F54;
    --font-family:arial;
    --content-width: 80%;
}

* {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    width: 100%;
    line-height:1.4;
    background: var(--background-color);
}
main{
    background: var(--inner-background);
}


@import 'Header.scss';
@import 'Main.scss';
@import 'LoginPage.scss';
@import 'SignUpPage.scss';
@import 'PageNotFound.scss';
@import 'Footer.scss';
