@import '_reset.scss';
@import '_normalize.scss';
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

:root{
    --background-color:#D7F2BA;
    --inner-background:#9CC69B;//#BDE4A8;
    --font-color:#676F54;
    --font-family:arial;
    --content-width: 80%;
}

* {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    width: 100%;
    line-height:1.4;
    background: var(--background-color);
}
main{
    background: var(--inner-background);
}

@import '_Header.scss';
@import '_Main.scss';
@import '_LoginPage.scss';
@import '_PageNotFound.scss';
@import '_Footer.scss';